@import url('https://fonts.googleapis.com/css2?family=Google+Sans:ital,opsz,wght@0,17..18,400..700;1,17..18,400..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Lobster&family=Rubik+Spray+Paint&family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Liu+Jian+Mao+Cao&family=Lobster&family=Rubik+Spray+Paint&family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');
body{
    font-family: 'Google Sans', sans-serif;
    background-color: #e3c2cd;
    padding: 0;
    margin: 0;
}

.active a{
    color: #724f53;
}

h1, h2, h3 {
    margin: 0;
    padding: 0;
  }

.navbar{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%; 
    height: 45px;
    font-size: clamp(1.3rem, calc(1.2vw + 0.5rem), 1.8rem); /* Adjust font size */
}

.navlinks{
    list-style: none;
    display: flex;
    gap: 12vw;
    padding: 0px;
}

.nonactive a{
    color: #515b43;
}

.navlinks li a {
    text-decoration: none;
    font-weight: 500;
}

.navlinks li a:hover{
    color: #6a755a;
}

.head{
    background-color: #be8b98;
    width: 100%;
    display: flex;
    justify-content: center;
    height: 230px;
    color: #f5f2ea;
}

.headcontent {
    width: 88%;
    max-width: calc(550px * 3);
    display: flex;
    height: 100%;
}

.textcontainer{
    width: 35vw;
    margin-left: 20px;
}

.text {
    display: flex;
    width: 100%;
    flex-direction: column;
    height: 230px;
}

.baby{
    display: flex;
    align-items: center;
    width: 210px;
    height: 230px;
}

.img_profile {
    height: 210px;
    aspect-ratio: 1 / 1;
    display: flex; /* Ensure content alignment */
    align-items: center;
}

.img_profile img {
    width: 100%; /* Ensures the image scales with the container */
    height: 100%; /* Matches container height */
    object-fit: cover; /* Fills the container while preserving the aspect ratio */
    display: flex;
    border-radius: 10px;
}

h1{
    color: #6a4649;
    font-size: clamp(0.9rem, calc(2vw + 2rem), 4rem);
    margin: 0;
    padding: 0;
    padding-top: 13px;
    padding-bottom: 10px;
    line-height: 1;
    margin-top: -0.12em;
    font-weight: bold;
    font-family: Liu Jian Mao Cao;
}

h2{
    font-size: clamp(0.9rem, calc(1.5vw + 0.6rem), 2.2rem);
    font-weight: 600;
    color: #ebcdaf;
    
}

h3{
    font-size: clamp(1rem, calc(1vw + 0.6rem), 1.2rem);
    font-weight: 500;
    margin-top: 15px;
}

.containerforcontainer{
    display: flex;
    justify-content: center;
    overflow: hidden;
}

.container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    max-width: calc(550px * 3);
    justify-content: center; /* Centers last row */
    gap: 20px;
    flex-shrink: 0;
    margin-top: 20px;
    width: 88%;
    min-width: 150px;
    padding: 20px;
    background-color: #e4d8da;
    border-radius: 10px;
    margin-bottom: 50px;
}

.items img{
    object-fit: contain;
}

.items{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.container img {
    width: 100%; /* Responsive width */
    aspect-ratio: 53%; /* Adjust this based on your desired proportion */
    border-radius: 5px;
    max-width: 500px;
}

@media (hover: hover){
    .items {
        display: flex;
        flex-direction: column;
        position: relative;
        height: auto; /* Remove fixed height, let it adjust based on content */
        justify-content: flex-start;
    }

    .image-container {
        height: 100%;
        width: 100%;
        position: relative;
        display: flex;
        flex-direction: column; /* Stack the image and text box vertically */
    }

    /* Overlay will cover the entire image */
    .image-link {
        display: flex;
        position: absolute;  /* Position overlay absolutely within the parent */
        top: 0;              /* Start from the top */
        left: 0;             /* Start from the left */
        width: 100%;         /* Cover the entire width of the container */
        height: 100%;        /* Cover the entire height of the container */
        align-items: center; /* Center text vertically */
        justify-content: center; /* Center text horizontally */
        color: #e3c2a1;
        font-size: clamp(1.5rem, calc(2vw + 0.5rem), 1.5rem); /* Adjust font size */
        opacity: 0;           /* Hidden by default */
        transition: opacity 0.3s ease-in-out;
        background-color:#515b43;/* Semi-transparent overlay */
        text-align: center;
        border-radius: 5px;
        text-decoration: none;
        padding: 0 5%;
        box-sizing: border-box;
    }

    .linkdiv{
        position: absolute;
        top: 5px;
        right: 5px;
    }

    .linklogo{
        filter: grayscale(100%) brightness(50%) contrast(100%);
        height: 30px;
        width: 30px;
        opacity: 0.5;
    }

    .items:hover .image-link {
        opacity: 1;  /* Make the overlay visible */
    }

}



@media (hover: none) {
    /* Styles for touchscreen devices */
    .container{
        display: grid;
        background-color: transparent; /* Removes the background color */
        box-shadow: none; /* Removes the shadow */
        margin-top: 0;
        
    }

    .linkdiv{
        display: none !important;
    }

    .items {
        display: flex;
        flex-direction: column; /* Stacks the image and the text box vertically */
        position: relative;
        height: auto;    
        justify-content: flex-start; /* Keep content at the top of the container */
    }
    
    .image-container {
        height: 100%;
        width: 100%;
        position: relative;
        display: flex;
        flex-direction: column; /* Stack the image and text box vertically */
    }
    
    .image-container img {
        width: 100%;
        aspect-ratio: 53%; /* You can adjust this to the desired proportion */
        border-radius: 5px;
    }
    
    .image-text {
        height: 100%;
        width: 100%;
        background-color:#515b43; /* Choose a color for the background of the text box */
        text-align: center;
        border-radius: 0px 0px 10px 10px; /* Optional: rounds the top corners of the text box */
        margin-top: -15px; /* Adds space between the image and the box */
        padding-top: 1.5rem;
        padding-bottom: 1rem;
    }
    
    .image-link {
        display: flex; /* Enables flexbox */
        align-items: center; /* Centers text vertically */
        justify-content: center; /* Centers text horizontally */
        text-decoration: none;
        width: 95%;
        height: 100%; /* Ensure it fills the parent container */
        color: #e3c2a1; /* Set text color */
        font-weight: 600;
        font-size: clamp(1rem, calc(2vw + 0.5rem), 1.5rem); /* Adjust font size */
        margin: auto;
    }
    
    
    .image-link:hover {
        color: rgb(56, 56, 56);
    }
}

@media (max-width: 640px){
    .container{
        background-color: transparent; /* Removes the background color */
        box-shadow: none; /* Removes the shadow */
        margin-top: 0;
        grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    }

    .head{
        height: 200px;
    }
    .text{
        height: 200px;
    }
    .headcontent {
        width: 100%;
        max-width: 640px;
        display: flex;
        justify-content: center;
        height: 100%;
        padding: 0;
        margin: 0 !important;
    }

    .textcontainer{
        width: 85% !important;
        text-align: center;
        justify-content: center;
        align-items: center;
        margin-left: 20px !important;
        margin-right: 20px;
    }
    .baby{
        display: none;
    }
    .image_profile{
        display: none;
    }
    h1 {
        font-size: 80px;
    }
    h2 {
        font-size: 32px;
    }
}

.wholecontact{
    display: flex;
    height: 100vh;
    flex-direction: column;
}

.wholecontactbox{
    width: 100%;
    height: 100%;
    margin-top: -20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.contactbox{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 88%;
}

.form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50%;
}

form{
    display: flex;
    flex-direction: column;
    width: 50%;
    gap: 20px;
    align-items: center;
}

input::placeholder, textarea::placeholder{
    color: #d0c7c2 !important; /* Change this to your desired color */
    opacity: 1; /* Ensures the color is fully visible */
}



input, textarea{
    color: white !important;
    width: 100%;
    padding: 15px;
    font-size: 15px;
    border: 2px solid tan;
    border-radius: 5px;
    transition: 0.3s;
    background-color: #d0c7c25b !important;
}

input:focus, textarea:focus, input:hover, textarea:hover{
    border-color: tan; /* Highlight color */
    outline: none;
    box-shadow: 0 0 5px tan;
    background-color: #d0c7c28e !important;
}

textarea{
    max-width: 100%;
    min-width: 100%;
    height: 150px;
    max-height: 200px;
}

.contacth2{
    color: white;
    font-size: 30px;
    font-weight: 600;
}

button {
    background: #7d9c66; /* Blue primary color */
    color: white;
    font-size: 18px;
    padding: 12px;
    border: 2px solid tan;
    border-radius: 5px;
    cursor: pointer;
    transition: background 0.3s;
}

button:hover {
    background: tan;
    color: white; /* Darker blue on hover */
}

.contactboxbox{
    background-color: #d0c7c25b;
    display: flex;
    width: 1000px;
    height: auto;
    padding: 20px;
    border-radius: 5px;
}

.picture img{
    width: 500px;
    height: auto;
}

.gallery-body{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.gallery{
    width: 100%;
}

.gallery-container{
    align-items: center;
    display: flex;
    height: 400px;
    margin: 0 auto;
    max-width: 1000px;
    position: relative;
}

.card{
    height: 200px;
    opacity: 0;
    position: absolute;
    transition: all 0.3s ease-in-out;
    width: 330px;
    z-index: 0;
    border-radius: 15px;
    background-size: contain;
}

.card1{
    left: 15%;
    opacity: .4;
    transform: translateX(-50%);
}

.card2, .card4{
    height: 250px;
    opacity: 0.8;
    width: 280px;
    z-index: 1;
}

.card2{
    left: 30%;
    transform: translateX(-50%);
}



.card3{
    box-shadow: -2px 5px 33px 6px black;
    height: 300px;
    opacity: 1;
    left: 50%;
    transform: translateX(-50%);
    width: 430px;
    z-index: 2;
}

.card4{
    left: 70%;
    transform: translateX(-50%);
}

.card5{
    left: 85%;
    opacity: .4;
    transform: translateX(-50%);
}

.gallery-controls{
    display: flex;
    justify-content: center;
    margin: 25px 0;
    height: 100px;
}

.gallery-controls button{
    background-color: transparent;
    border: 0;
    cursor: pointer;
    font-size: 30px;
    margin: 0 50px;
    padding: 0 12px;
    text-transform: capitalize;
}

.gallery-controls-button:focus{
    outline: none;
}

.gallery-controls-previous{
    position: relative;
}

.gallery-controls-previous::before{
    border: solid black;
    border-width: 0 5px 5px 0;
    content: '';
    display: inline-block;
    height: 5px;
    left: -30px;
    padding: 10px;
    position: absolute;
    top: 25%;
    transform: rotate(135deg) translateY(-50%);
    transition: left 0.15s ease-in-out;
    width: 5px;
}

@media (max-width: 1100px){
    .picture img{
        width: 400px;
        height: auto;
    }
}

@media (max-width: 900px){
    .picture img{
        width: 400px;
        height: auto;
    }
    .form{
        width: 60%;
    }
    form{
        width: 60%;
    }
}

@media (max-width: 800px){
    .picture img{
        display: none;
    }
    .contactboxbox{
        justify-content: center;
    }
    .wholecontactbox{
        align-items: flex-start;
        margin-top: 20px;
    }
    .form{
        width: 60%;
    }
    form{
        width: 60%;
    }
    .textcontainer{
    width: 80vw;
    margin-left: 20px;
    }
    .container{
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        justify-content: center;
        gap: 20px;
    }
}

@media (max-width: 700px){
    .picture img{
        display: none;
    }
    .contactboxbox{
        justify-content: center;
    }
    .form{
        width: 70%;
    }
    form{
        width: 70%;
    }
     h1{
        font-size: 50px;
    }
    h2{
        font-size: 28px;
    }
}

@media (max-width: 600px){
    .contactboxbox{
        justify-content: center;
        
    }
    .wholecontactbox{
        align-items: flex-start;
    }
    .form{
        width: 80%;
    }
    form{
        width: 80%;
    }
    h1{
        font-size: 50px;
        padding-top: 10px;
        padding-bottom: 5px;
    }
    h2{
        font-size: 25px;
    }
    h3{
        padding-top: 0px;
    }
}

@media (max-width: 400px){
    h1{
        font-size: 32px;
        padding-top: 15px;
    }
    h2{
        font-size: 20px;
    }
    h3{
        padding-top: 0px;
        font-size: 15px;
        margin-top: 8px;
    }
}

@media (max-width: 1600px){
    .textcontainer{
        width: 50vw;
        margin-left: 20px;
    }
}
